<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rotanava.boot.system.module.dao.AccountSafeSettingMapper">
    <resultMap id="BaseResultMap" type="com.rotanava.boot.system.api.module.system.bo.AccountSafeSetting">
        <!--@mbg.generated-->
        <!--@Table account_safe_setting-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="sys_user_id" jdbcType="INTEGER" property="sysUserId"/>
        <result column="phone_safe_type" jdbcType="INTEGER" property="phoneSafeType"/>
        <result column="account_mfa" jdbcType="VARCHAR" property="accountMfa"/>
        <result column="email_safe_type" jdbcType="INTEGER" property="emailSafeType"/>
        <result column="account_time_out_mins" jdbcType="INTEGER" property="accountTimeOutMins"/>
        <result column="account_time_out_on" jdbcType="INTEGER" property="accountTimeOutOn"/>
        <result column="account_pass_out_mins" jdbcType="INTEGER" property="accountPassOutMins"/>
        <result column="account_pass_out_on" jdbcType="INTEGER" property="accountPassOutOn"/>
        <result column="account_pre_passwd" jdbcType="VARCHAR" property="accountPrePasswd"/>
        <result column="account_pre_passwd_time" jdbcType="TIMESTAMP" property="accountPrePasswdTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, sys_user_id, phone_safe_type, account_mfa, email_safe_type, account_time_out_mins,
        account_time_out_on, account_pass_out_mins, account_pass_out_on, account_pre_passwd,
        account_pre_passwd_time
    </sql>

    <!--auto generated by MybatisCodeHelper on 2021-03-20-->
    <select id="findBySysUserId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from account_safe_setting
        where sys_user_id = #{sysUserId,jdbcType=INTEGER}
    </select>

    <!--auto generated by MybatisCodeHelper on 2021-03-20-->
    <update id="updateBySysUserId">
        update account_safe_setting
        <set>
            <if test="updated.id != null">
                id = #{updated.id,jdbcType=INTEGER},
            </if>
            <if test="updated.sysUserId != null">
                sys_user_id = #{updated.sysUserId,jdbcType=INTEGER},
            </if>
            <if test="updated.phoneSafeType != null">
                phone_safe_type = #{updated.phoneSafeType,jdbcType=INTEGER},
            </if>
            <if test="updated.accountMfa != null">
                account_mfa = #{updated.accountMfa,jdbcType=VARCHAR},
            </if>
            <if test="updated.emailSafeType != null">
                email_safe_type = #{updated.emailSafeType,jdbcType=INTEGER},
            </if>
            <if test="updated.accountTimeOutMins != null">
                account_time_out_mins = #{updated.accountTimeOutMins,jdbcType=INTEGER},
            </if>
            <if test="updated.accountTimeOutOn != null">
                account_time_out_on = #{updated.accountTimeOutOn,jdbcType=INTEGER},
            </if>
            <if test="updated.accountPassOutMins != null">
                account_pass_out_mins = #{updated.accountPassOutMins,jdbcType=INTEGER},
            </if>
            <if test="updated.accountPassOutOn != null">
                account_pass_out_on = #{updated.accountPassOutOn,jdbcType=INTEGER},
            </if>
            <if test="updated.accountPrePasswd != null">
                account_pre_passwd = #{updated.accountPrePasswd,jdbcType=VARCHAR},
            </if>
            <if test="updated.accountPrePasswdTime != null">
                account_pre_passwd_time = #{updated.accountPrePasswdTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where sys_user_id = #{sysUserId,jdbcType=INTEGER}
    </update>

    <!--auto generated by MybatisCodeHelper on 2021-03-31-->
    <delete id="deleteBySysUserIdIn">
        delete
        from account_safe_setting
                where sys_user_id in
        <foreach item="item" index="index" collection="sysUserIdCollection"
                 open="(" separator="," close=")">
            #{item,jdbcType=INTEGER}
        </foreach>
    </delete>

<!--auto generated by MybatisCodeHelper on 2021-04-20-->
    <update id="updateEmailSafeTypeBySysUserId">
        update account_safe_setting
        set email_safe_type=#{updatedEmailSafeType,jdbcType=INTEGER}
        where sys_user_id=#{sysUserId,jdbcType=INTEGER}
    </update>

<!--auto generated by MybatisCodeHelper on 2021-04-20-->
    <update id="updatePhoneSafeTypeBySysUserId">
        update account_safe_setting
        set phone_safe_type=#{updatedPhoneSafeType,jdbcType=INTEGER}
        where sys_user_id=#{sysUserId,jdbcType=INTEGER}
    </update>
</mapper>