<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rotanava.boot.system.module.dao.OpenAppMapper">
    <resultMap id="BaseResultMap" type="com.rotanava.boot.system.api.module.system.bo.OpenApp">
        <!--@mbg.generated-->
        <!--@Table open_app-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="app_name" jdbcType="VARCHAR" property="appName"/>
        <result column="logo_bucket_name" jdbcType="VARCHAR" property="logoBucketName"/>
        <result column="logo_object_name" jdbcType="VARCHAR" property="logoObjectName"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="charge_person" jdbcType="VARCHAR" property="chargePerson"/>
        <result column="contact_phone" jdbcType="VARCHAR" property="contactPhone"/>
        <result column="agent_id" jdbcType="VARCHAR" property="agentId"/>
        <result column="app_key" jdbcType="VARCHAR" property="appKey"/>
        <result column="app_secret" jdbcType="VARCHAR" property="appSecret"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="create_by" jdbcType="INTEGER" property="createBy"/>
        <result column="module_id" jdbcType="INTEGER" property="moduleId"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, app_name, logo_bucket_name, logo_object_name, remark, charge_person, contact_phone,
        agent_id, app_key, app_secret, create_time, update_time, create_by,module_id
    </sql>

    <!--auto generated by MybatisCodeHelper on 2021-04-19-->
    <select id="countByAppName" resultType="java.lang.Integer">
        select count(1)
        from open_app
        where app_name = #{appName,jdbcType=VARCHAR}
    </select>

    <update id="updateSetModuleIdNull">
        update open_app set module_id = null where id = #{id}
    </update>

<!--auto generated by MybatisCodeHelper on 2021-07-08-->
    <select id="findByAgentIdAndAppKeyAndAppSecret" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from open_app
        where agent_id=#{agentId,jdbcType=VARCHAR} and app_key=#{appKey,jdbcType=VARCHAR} and
        app_secret=#{appSecret,jdbcType=VARCHAR}
    </select>
</mapper>