<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rotanava.boot.system.module.dao.OpenApiMapper">
    <resultMap id="BaseResultMap" type="com.rotanava.boot.system.api.module.system.bo.OpenApi">
        <!--@mbg.generated-->
        <!--@Table open_api-->
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="api_name" jdbcType="VARCHAR" property="apiName"/>
        <result column="api_path" jdbcType="VARCHAR" property="apiPath"/>
        <result column="request_method" jdbcType="INTEGER" property="requestMethod"/>
        <result column="result_type" jdbcType="INTEGER" property="resultType"/>
        <result column="sql_text" jdbcType="LONGVARCHAR" property="sqlText"/>
        <result column="remark" jdbcType="LONGVARCHAR" property="remark"/>
        <result column="charge_person" jdbcType="VARCHAR" property="chargePerson"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="create_by" jdbcType="INTEGER" property="createBy"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, api_name, api_path, request_method, result_type, sql_text, remark, charge_person,
        create_time, update_time, create_by, `status`
    </sql>

    <!--auto generated by MybatisCodeHelper on 2021-04-19-->
    <select id="countByApiPath" resultType="java.lang.Integer">
        select count(1)
        from open_api
        where api_path = #{apiPath,jdbcType=VARCHAR}
    </select>

    <select id="queryPage" resultMap="BaseResultMap">
        select a.*
        from open_api a
                     left join open_api_app b on a.id = b.api_id
                ${ew.customSqlSegment}
    </select>

    <!--auto generated by MybatisCodeHelper on 2021-04-27-->
    <update id="updateSqlTextById">
        update open_api
        set sql_text=#{updatedSqlText,jdbcType=LONGVARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateDataSourceById">
        update open_api
        set datasource_id=#{dataSourceId,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>

</mapper>