<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rotanava.boot.system.module.dao.SysAnnouncementMapper">
    <sql id="Base_Column_List">
        id,
        ann_title,
        ann_content,
        ann_start_time,
        ann_end_time,
        ann_sender_id,
        ann_priority,
        ann_category,
        ann_target,
        ann_send_time,
        ann_send_status,
        ann_cancel_time,
        ann_cancel_id,
        ann_del_status,
        ann_bus_type,
        ann_bus_id,
        ann_open_type,
        ann_open_page,
        create_by,
        create_time,
        update_by,
        update_time,
        ann_msg_abstract,
        ann_user_ids,
        ann_dept_ids,
        ann_config_Id
    </sql>
    <resultMap id="BaseResultMap" type="com.rotanava.boot.system.api.module.system.bo.SysAnnouncement">
        <!--@mbg.generated-->
        <!--@Table sys_announcement-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="ann_title" jdbcType="VARCHAR" property="annTitle"/>
        <result column="ann_content" jdbcType="LONGVARCHAR" property="annContent"/>
        <result column="ann_start_time" jdbcType="TIMESTAMP" property="annStartTime"/>
        <result column="ann_end_time" jdbcType="TIMESTAMP" property="annEndTime"/>
        <result column="ann_sender_id" jdbcType="INTEGER" property="annSenderId"/>
        <result column="ann_priority" jdbcType="INTEGER" property="annPriority"/>
        <result column="ann_category" jdbcType="INTEGER" property="annCategory"/>
        <result column="ann_target" jdbcType="INTEGER" property="annTarget"/>
        <result column="ann_send_time" jdbcType="TIMESTAMP" property="annSendTime"/>
        <result column="ann_send_status" jdbcType="INTEGER" property="annSendStatus"/>
        <result column="ann_cancel_time" jdbcType="TIMESTAMP" property="annCancelTime"/>
        <result column="ann_cancel_id" jdbcType="INTEGER" property="annCancelId"/>
        <result column="ann_del_status" jdbcType="INTEGER" property="annDelStatus"/>
        <result column="ann_bus_type" jdbcType="INTEGER" property="annBusType"/>
        <result column="ann_bus_id" jdbcType="INTEGER" property="annBusId"/>
        <result column="ann_open_type" jdbcType="INTEGER" property="annOpenType"/>
        <result column="ann_open_page" jdbcType="VARCHAR" property="annOpenPage"/>
        <result column="create_by" jdbcType="INTEGER" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_by" jdbcType="INTEGER" property="updateBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="ann_msg_abstract" jdbcType="VARCHAR" property="annMsgAbstract"/>
        <result column="ann_user_ids" property="annUserIds"/>
        <result column="ann_dept_ids" property="annDeptIds"/>
        <result column="ann_config_Id" property="annConfigId"/>
    </resultMap>

    <!--auto generated by MybatisCodeHelper on 2021-03-20-->
    <select id="findIdByAnnTitle" resultType="java.lang.Integer">
        select id
        from sys_announcement
        where ann_title = #{annTitle,jdbcType=VARCHAR}
    </select>

    <!--auto generated by MybatisCodeHelper on 2021-03-20-->
    <select id="findIdByAnnTitleAndAnnCategory" resultType="java.lang.Integer">
        select id
        from sys_announcement
        where ann_title = #{annTitle,jdbcType=VARCHAR}
          and ann_category = #{annCategory,jdbcType=INTEGER}
    </select>

    <select id="queryPage" resultMap="BaseResultMap">
        select a.*
        from sys_announcement a
                     left join sys_user b on a.ann_sender_id = b.id
                ${ew.customSqlSegment}
    </select>

    <!--auto generated by MybatisCodeHelper on 2021-04-08-->
    <update id="updateAnnEndNullTimeById">
        update sys_announcement
        set ann_end_time = null
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>