<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rotanava.boot.system.module.dao.SysApiPermissionMapper">
    <resultMap id="BaseResultMap" type="com.rotanava.boot.system.api.module.system.bo.SysApiPermission">
        <!--@mbg.generated-->
        <!--@Table sys_api_permission-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="api_name" jdbcType="VARCHAR" property="apiName"/>
        <result column="api_code" jdbcType="VARCHAR" property="apiCode"/>
        <result column="api_url" jdbcType="VARCHAR" property="apiUrl"/>
        <result column="api_method" jdbcType="INTEGER" property="apiMethod"/>
        <result column="create_by" jdbcType="INTEGER" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_by" jdbcType="INTEGER" property="updateBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="api_auth_type" jdbcType="INTEGER" property="apiAuthType"/>
        <result column="api_ability_type" jdbcType="INTEGER" property="apiAbilityType"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, api_name, api_code, api_url, api_method, create_by, create_time, update_by,
        update_time, api_auth_type, api_ability_type
    </sql>

    <select id="findBySysUserId" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM (
                SELECT
        <include refid="Base_Column_List"/>
        FROM sys_api_permission
        WHERE id IN (
                SELECT sys_api_id
                FROM sys_page_api
                WHERE sys_page_id = 1
                   OR sys_page_id IN (
                        SELECT page_id
                        FROM sys_role_permission
                        WHERE sys_role_id IN (SELECT sys_role_id FROM sys_user_role WHERE sys_user_id = #{sysUserId})))
        UNION
                SELECT
        <include refid="Base_Column_List"/>
        FROM sys_api_permission
        WHERE id IN (
                SELECT sys_api_id
                FROM sys_page_api
                WHERE sys_page_id = 1
                   OR sys_page_id IN (
                        SELECT page_permission_id
                        FROM sys_depart_role_permission
                        WHERE depart_role_id IN
                              (SELECT depart_role_id FROM sys_depart_role_user WHERE sys_user_id = #{sysUserId})))
        UNION
                SELECT
        <include refid="Base_Column_List"/>
        FROM sys_api_permission
        WHERE id IN (
                SELECT sys_api_id
                FROM sys_page_api
                WHERE sys_page_id IN (
                        SELECT id
                        FROM sys_page_permission
                        WHERE visible_to_all = 1
                        ))
        UNION
                SELECT
        <include refid="Base_Column_List"/>
        FROM sys_api_permission
        WHERE api_auth_type = 0 ) api
                GROUP BY id
    </select>

    <!--auto generated by MybatisCodeHelper on 2021-03-08-->
    <select id="findSysApiBean"
            resultType="com.rotanava.boot.system.api.module.system.bean.SysApiBean">
        SELECT sys_api_permission.id AS sysApiId,
               sys_api_permission.api_name,
               sys_api_permission.api_code,
               sys_api_permission.api_url,
               sys_api_permission.api_method,
               sys_api_permission.api_auth_type,
               sys_api_permission.api_ability_type,
               p.id                  AS sysPageId,
               p.page_title
        FROM sys_api_permission
                     LEFT JOIN sys_page_api ON sys_page_api.sys_api_id = sys_api_permission.id
                     LEFT JOIN sys_page_permission p ON p.id = sys_page_api.sys_page_id
                ${ew.customSqlSegment}
    </select>


    <!--auto generated by MybatisCodeHelper on 2021-03-08-->
    <select id="findByApiUrlAndApiMethod" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_api_permission
        where api_url = #{apiUrl,jdbcType=VARCHAR}
          and api_method = #{apiMethod,jdbcType=INTEGER}
    </select>

    <!--auto generated by MybatisCodeHelper on 2021-04-16-->
    <select id="countByApiUrl" resultType="java.lang.Integer">
        select count(1)
        from sys_api_permission
        where api_url = #{apiUrl,jdbcType=VARCHAR}
    </select>
</mapper>