<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rotanava.boot.system.module.dao.SysBasicInfoMapper">
  <resultMap id="BaseResultMap" type="com.rotanava.boot.system.api.module.system.bo.SysBasicInfo">
    <!--@mbg.generated-->
    <!--@Table sys_basic_info-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="sysinfo_name" jdbcType="VARCHAR" property="sysinfoName" />
    <result column="sysinfo_code" jdbcType="VARCHAR" property="sysinfoCode" />
    <result column="sysinfo_description" jdbcType="VARCHAR" property="sysinfoDescription" />
    <result column="sysinfo_value" jdbcType="VARCHAR" property="sysinfoValue" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, sysinfo_name, sysinfo_code, sysinfo_description, sysinfo_value, create_time, 
    update_time
  </sql>
</mapper>