<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rotanava.boot.system.module.dao.SysDictMapper">

  <!-- 通过字典code获取字典数据 -->
  <select id="queryDictTextByKey" parameterType="String"  resultType="String">
		   select s.item_text from sys_dict_item s
		   where s.dict_id = (select id from sys_dict where dict_code = #{code})
		   and s.item_value = #{key}
	</select>

  <!--通过查询指定table的 text code key 获取字典值-->
  <select id="queryTableDictTextByKey" parameterType="String" resultType="String">
		   select ${text} as "text" from ${table} where ${code}= #{key}
	</select>

	<!--通过查询指定table的 text code key 获取字典值-->
	<select id="getSysDictByCode" parameterType="String" resultType="com.rotanava.framework.model.SysDict">
		   select * from sys_dict where dict_code= #{code}
	</select>

</mapper>