<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rotanava.boot.system.module.dao.SysDepartmentMapper">
    <resultMap id="BaseResultMap" type="com.rotanava.boot.system.api.module.system.bo.SysDepartment">
        <!--@mbg.generated-->
        <!--@Table sys_department-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="dept_code" jdbcType="VARCHAR" property="deptCode"/>
        <result column="parent_dept_id" jdbcType="INTEGER" property="parentDeptId"/>
        <result column="dept_name" jdbcType="VARCHAR" property="deptName"/>
        <result column="dept_name_en" jdbcType="VARCHAR" property="deptNameEn"/>
        <result column="dept_order" jdbcType="INTEGER" property="deptOrder"/>
        <result column="dept_description" jdbcType="VARCHAR" property="deptDescription"/>
        <result column="dept_type" jdbcType="INTEGER" property="deptType"/>
        <result column="dept_manager" jdbcType="VARCHAR" property="deptManager"/>
        <result column="dept_manager_phone" jdbcType="VARCHAR" property="deptManagerPhone"/>
        <result column="dept_address" jdbcType="VARCHAR" property="deptAddress"/>
        <result column="dept_fax" jdbcType="VARCHAR" property="deptFax"/>
        <result column="dept_status" jdbcType="INTEGER" property="deptStatus"/>
        <result column="dept_valid_time" jdbcType="TIMESTAMP" property="deptValidTime"/>
        <result column="create_by" jdbcType="INTEGER" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_by" jdbcType="INTEGER" property="updateBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="dept_delete_status" jdbcType="INTEGER" property="deptDeleteStatus"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, dept_code, parent_dept_id, dept_name, dept_name_en, dept_order, dept_description,
        dept_type, dept_manager, dept_manager_phone, dept_address, dept_fax, dept_status,
        dept_valid_time, create_by, create_time, update_by, update_time, dept_delete_status
    </sql>

    <select id="findDeptNameById" resultType="java.lang.String">
        select dept_name
        from sys_department
        where id = #{id,jdbcType=INTEGER}
    </select>

    <!--auto generated by MybatisCodeHelper on 2021-03-05-->
    <select id="findall" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_department
    </select>

    <!--auto generated by MybatisCodeHelper on 2021-03-20-->
    <select id="findIdByDeptName" resultType="java.lang.Integer">
        select id
        from sys_department
        where dept_name = #{deptName,jdbcType=VARCHAR}
    </select>

    <!--auto generated by MybatisCodeHelper on 2021-03-20-->
    <select id="findIdByDeptCode" resultType="java.lang.Integer">
        select id
        from sys_department
        where dept_code = #{deptCode,jdbcType=VARCHAR}
    </select>

    <select id="findDepartmentByUserId" resultMap="BaseResultMap">
        select *
        from sys_department a
                     left join sys_user_department b on a.id = b.sys_department_id
        where sys_user_id = #{userId}
    </select>

    <!--auto generated by MybatisCodeHelper on 2021-07-22-->
    <select id="findId" resultType="java.lang.Integer">
        select id
        from sys_department
    </select>
</mapper>