<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rotanava.boot.system.module.dao.SysPagePermissionMapper">
    <sql id="Base_Column_List">
        id,
        parent_page_id,
        page_title,
        page_url,
        page_redirect,
        page_type,
        page_code,
        page_show,
        page_leaf_flag,
        page_description,
        create_by,
        create_time,
        update_by,
        update_time,
        page_delete_status,
        page_status,
        ability_type,
        sort,
        sys_page_module_type_id,
        visible_to_all,is_jump,is_auto,page_json,page_icon
    </sql>
    <resultMap id="BaseResultMap" type="com.rotanava.boot.system.api.module.system.bo.SysPagePermission">
        <!--@mbg.generated-->
        <!--@Table sys_page_permission-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="parent_page_id" jdbcType="INTEGER" property="parentPageId"/>
        <result column="page_title" jdbcType="VARCHAR" property="pageTitle"/>
        <result column="page_url" jdbcType="VARCHAR" property="pageUrl"/>
        <result column="page_redirect" jdbcType="VARCHAR" property="pageRedirect"/>
        <result column="page_type" jdbcType="INTEGER" property="pageType"/>
        <result column="page_code" jdbcType="VARCHAR" property="pageCode"/>
        <result column="page_show" jdbcType="INTEGER" property="pageShow"/>
        <result column="page_leaf_flag" jdbcType="INTEGER" property="pageLeafFlag"/>
        <result column="page_description" jdbcType="VARCHAR" property="pageDescription"/>
        <result column="create_by" jdbcType="INTEGER" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_by" jdbcType="INTEGER" property="updateBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="page_delete_status" jdbcType="INTEGER" property="pageDeleteStatus"/>
        <result column="page_status" jdbcType="INTEGER" property="pageStatus"/>
        <result column="ability_type" jdbcType="INTEGER" property="abilityType"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="sys_page_module_type_id" jdbcType="INTEGER" property="sysPageModuleTypeId"/>
        <result column="visible_to_all" jdbcType="INTEGER" property="visibleToAll"/>
        <result column="is_jump" jdbcType="INTEGER" property="isJump"/>
        <result column="page_icon" jdbcType="VARCHAR" property="pageIcon"/>
        <result column="is_auto" jdbcType="INTEGER" property="isAuto"/>
        <result column="page_json" jdbcType="VARCHAR" property="pageJson"/>
    </resultMap>

    <!--auto generated by MybatisCodeHelper on 2021-03-08-->
    <update id="updatePageDeleteStatusByIdIn">
        update sys_page_permission
        set page_delete_status=#{updatedPageDeleteStatus,jdbcType=INTEGER}
                where id in
                (SELECT id FROM (
                SELECT t1.id,
                       IF(FIND_IN_SET(parent_page_id, @pids) > 0, @pids := CONCAT(@pids, ',', id), 0) AS ischild
                FROM (
                             SELECT id, parent_page_id
                             FROM sys_page_permission t
                             ORDER BY id
                             ) t1,
                (SELECT@pids :=
        <foreach collection="idCollection" item="id" separator=",">
            #{id}
        </foreach>
        ) t2
                ) t3
                WHERE ischild != 0
                   or  id in
        <foreach item="item" index="index" collection="idCollection"
                 open="(" separator="," close=")">
            #{item,jdbcType=INTEGER}
        </foreach>
        )
    </update>

    <select id="findBySysUserId" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM (
                SELECT
        <include refid="Base_Column_List"/>
        FROM sys_page_permission
        WHERE id IN (
                SELECT page_id
                FROM sys_role_permission
                WHERE sys_role_id IN (
                        select id
                        from sys_role
                        where id in (
                                select sys_role_id
                                from sys_user_role
                                where sys_user_id = #{sysUserId}
                                )
                        )
                )
        UNION
                SELECT
        <include refid="Base_Column_List"/>
        FROM sys_page_permission
        WHERE id IN (
                SELECT page_permission_id
                FROM sys_depart_role_permission
                WHERE depart_role_id IN (
                        SELECT sys_depart_role.id
                        FROM sys_depart_role
                                     JOIN sys_department ON sys_department.id = sys_depart_role.sys_department_id
                        WHERE sys_department.dept_status = 1
                          AND sys_depart_role.id IN (
                                SELECT depart_role_id
                                FROM sys_depart_role_user
                                WHERE sys_user_id = #{sysUserId}
                                ))
                )
        UNION
                SELECT
        <include refid="Base_Column_List"/>
        FROM sys_page_permission
        WHERE visible_to_all = 1
                ) page
                WHERE page_type <![CDATA[<>]]> 2
                  AND page_delete_status = 1
                  AND page_status = 1
                  AND page_show = 1
                  AND sys_page_module_type_id = #{sysPageModuleTypeId}
                GROUP BY id
    </select>

    <!--auto generated by MybatisCodeHelper on 2021-03-20-->
    <select id="selectAllBySysPageModuleTypeId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_page_permission
        WHERE page_delete_status = 1
          AND page_status = 1
          AND page_show = 1
          AND sys_page_module_type_id = #{sysPageModuleTypeId,jdbcType=INTEGER}
    </select>

    <!--auto generated by MybatisCodeHelper on 2021-03-10-->
    <select id="findAllByPageTypeInAndPageDeleteStatus" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_page_permission
                where page_type in
        <foreach item="item" index="index" collection="pageTypeCollection"
                 open="(" separator="," close=")">
            #{item,jdbcType=INTEGER}
        </foreach>
        and page_delete_status = #{pageDeleteStatus,jdbcType=INTEGER}
    </select>

    <select id="findSysPagePermissions" resultMap="BaseResultMap">
        SELECT p.id,
               p.parent_page_id,
               p.page_title,
               p.page_url,
               p.page_redirect,
               p.page_type,
               p.page_code,
               p.page_show,
               p.page_leaf_flag,
               p.page_description,
               p.create_by,
               p.create_time,
               p.update_by,
               p.update_time,
               p.page_delete_status,
               p.page_status,
               p.ability_type,
               p.sort,
               p.sys_page_module_type_id,
               p.visible_to_all,
               p.is_jump,
               p.page_icon,
               p.is_auto,
               p.page_json
        FROM sys_page_permission p
                     JOIN sys_page_module_type t ON t.id = p.sys_page_module_type_id
                ${ew.customSqlSegment}
    </select>
    <!--auto generated by MybatisCodeHelper on 2021-04-16-->
    <select id="findBySysPageModuleTypeId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_page_permission
        WHERE page_type <![CDATA[<>]]> 2
          AND page_delete_status = 1
          AND page_status = 1
          AND page_show = 1
          AND sys_page_module_type_id = #{sysPageModuleTypeId,jdbcType=INTEGER}
    </select>
    <!--auto generated by MybatisCodeHelper on 2021-04-19-->
    <select id="findChild" resultType="java.lang.Integer">
        SELECT id FROM (
                SELECT t1.id,
                       IF(FIND_IN_SET(parent_page_id, @pids) > 0, @pids := CONCAT(@pids, ',', id), 0) AS ischild
                FROM (
                             SELECT id, parent_page_id
                             FROM sys_page_permission
                             ORDER BY id
                             ) t1,
                (SELECT@pids :=
        <foreach collection="idCollection" item="item" separator=",">
            #{item}
        </foreach>
        ) t2
                ) t3
                WHERE ischild != 0
                UNION
                SELECT id
                FROM sys_page_permission WHERE
                id in
        <foreach item="item" index="index" collection="idCollection"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <!--auto generated by MybatisCodeHelper on 2021-04-16-->
    <select id="findPageTypeByIdIn" resultType="java.lang.Integer">
        select page_type
        from sys_page_permission
                where id in
        <foreach item="item" index="index" collection="idCollection"
                 open="(" separator="," close=")">
            #{item,jdbcType=INTEGER}
        </foreach>
    </select>

    <!--auto generated by MybatisCodeHelper on 2021-04-16-->
    <select id="findAllByPageTypeInAndPageDeleteStatusAndSysPageModuleTypeId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_page_permission
                where page_type in
        <foreach item="item" index="index" collection="pageTypeCollection"
                 open="(" separator="," close=")">
            #{item,jdbcType=INTEGER}
        </foreach>
        and page_delete_status = #{pageDeleteStatus,jdbcType=INTEGER}
        and sys_page_module_type_id = #{sysPageModuleTypeId,jdbcType=INTEGER}
    </select>

    <!--auto generated by MybatisCodeHelper on 2021-04-16-->
    <select id="findAllBySysPageModuleTypeId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_page_permission
        where sys_page_module_type_id = #{sysPageModuleTypeId,jdbcType=INTEGER}
    </select>

    <!--auto generated by MybatisCodeHelper on 2021-04-16-->
    <select id="findPageTypeByIdInAndSysPageModuleTypeId" resultType="java.lang.Integer">
        select page_type
        from sys_page_permission
                where id in
        <foreach item="item" index="index" collection="idCollection"
                 open="(" separator="," close=")">
            #{item,jdbcType=INTEGER}
        </foreach>
        and sys_page_module_type_id = #{sysPageModuleTypeId,jdbcType=INTEGER}
    </select>

    <!--auto generated by MybatisCodeHelper on 2021-05-06-->
    <select id="findIdByParentPageId" resultType="java.lang.Integer">
        select id
        from sys_page_permission
        where parent_page_id = #{parentPageId,jdbcType=INTEGER}
    </select>

    <delete id="deleteBySysPageModuleTypeId">
        delete from sys_page_permission
        where sys_page_module_type_id = #{sysPageModuleTypeId}
    </delete>

    <select id="findAdminWelcomePage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_page_permission
        WHERE page_type = 0
          AND page_delete_status = 1
          AND page_status = 1
          AND page_show = 1
    </select>

    <select id="findWelcomePage" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM (
                SELECT
        <include refid="Base_Column_List"/>
        FROM sys_page_permission
        WHERE id IN (
                SELECT page_id
                FROM sys_role_permission
                WHERE sys_role_id IN (
                        select id
                        from sys_role
                        where id in (
                                select sys_role_id
                                from sys_user_role
                                where sys_user_id = #{sysUserId}
                                )
                        )
                )
        UNION
                SELECT
        <include refid="Base_Column_List"/>
        FROM sys_page_permission
        WHERE id IN (
                SELECT page_permission_id
                FROM sys_depart_role_permission
                WHERE depart_role_id IN (
                        SELECT sys_depart_role.id
                        FROM sys_depart_role
                                     JOIN sys_department ON sys_department.id = sys_depart_role.sys_department_id
                        WHERE sys_department.dept_status = 1
                          AND sys_depart_role.id IN (
                                SELECT depart_role_id
                                FROM sys_depart_role_user
                                WHERE sys_user_id = #{sysUserId}
                                ))
                )
        UNION
                SELECT
        <include refid="Base_Column_List"/>
        FROM sys_page_permission
        WHERE visible_to_all = 1
                ) page
                WHERE page_type = 0
                  AND page_delete_status = 1
                  AND page_status = 1
                  AND page_show = 1
                GROUP BY id
    </select>

    <!--auto generated by MybatisCodeHelper on 2021-04-16-->
    <select id="findLinkPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_page_permission
        WHERE  page_delete_status = 1
        AND page_status = 1
        AND sys_page_module_type_id = #{sysPageModuleTypeId,jdbcType=INTEGER}
    </select>

<!--auto generated by MybatisCodeHelper on 2021-10-14-->
    <select id="findByPageCode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_page_permission
        where page_code=#{pageCode,jdbcType=VARCHAR}
    </select>

    <select id="findIdByPageUrl" resultType="java.lang.Integer">
        select id
        from sys_page_permission
        where page_url=#{pageUrl,jdbcType=VARCHAR}
    </select>

</mapper>