<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rotanava.boot.system.module.dao.SysRoleMapper">
    <sql id="Base_Column_List">
        id,
        sys_department_id,
        role_name,
        role_code,
        role_description,
        create_by,
        create_time,
        update_by,
        update_time,
        role_data_scope,
        ip_filter_type,
        ip_list,
        assign_dept_ids
    </sql>
    <resultMap id="BaseResultMap" type="com.rotanava.boot.system.api.module.system.bo.SysRole">
        <!--@mbg.generated-->
        <!--@Table sys_role-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="sys_department_id" jdbcType="INTEGER" property="sysDepartmentId"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
        <result column="role_code" jdbcType="VARCHAR" property="roleCode"/>
        <result column="role_description" jdbcType="VARCHAR" property="roleDescription"/>
        <result column="create_by" jdbcType="INTEGER" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_by" jdbcType="INTEGER" property="updateBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="role_data_scope" jdbcType="INTEGER" property="roleDataScope"/>
        <result column="ip_filter_type" jdbcType="INTEGER" property="ipFilterType"/>
        <result column="ip_list" jdbcType="LONGVARCHAR" property="ipList"/>
        <result column="assign_dept_ids" property="assignDeptIds"/>
    </resultMap>

    <select id="findall" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_role
    </select>

    <select id="findRoleNameById" resultType="java.lang.String">
        select role_name
        from sys_role
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="findBySysUserId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_role
        where id in (
                select sys_role_id
                from sys_user_role
                where sys_user_id = #{sysUserId}
                )
    </select>

    <!--auto generated by MybatisCodeHelper on 2021-03-20-->
    <select id="findIdByRoleCode" resultType="java.lang.Integer">
        select id
        from sys_role
        where role_code = #{roleCode,jdbcType=VARCHAR}
    </select>

    <!--auto generated by MybatisCodeHelper on 2021-03-20-->
    <select id="findIdByRoleName" resultType="java.lang.Integer">
        select id
        from sys_role
        where role_name = #{roleName,jdbcType=VARCHAR}
    </select>

    <!--auto generated by MybatisCodeHelper on 2021-03-23-->
    <select id="findIdBySysDepartmentIdIn" resultType="java.lang.Integer">
        select id
        from sys_role
                where sys_department_id in
        <foreach item="item" index="index" collection="sysDepartmentIdCollection"
                 open="(" separator="," close=")">
            #{item,jdbcType=INTEGER}
        </foreach>
    </select>

    <select id="queryUserByRole" resultType="com.rotanava.boot.system.api.module.system.bo.SysUser">
        select b.*
        from sys_user_role a
                     left join sys_user b on a.sys_user_id = b.id
        ${ew.customSqlSegment}
    </select>
</mapper>