<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rotanava.boot.system.module.dao.SysReportMapper">
    <resultMap id="BaseResultMap" type="com.rotanava.boot.system.api.module.system.bo.SysReport">
        <!--@mbg.generated-->
        <!--@Table sys_report-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="report_code" jdbcType="VARCHAR" property="reportCode"/>
        <result column="report_tile" jdbcType="VARCHAR" property="reportTile"/>
        <result column="reporter" jdbcType="VARCHAR" property="reporter"/>
        <result column="report_body" jdbcType="LONGVARCHAR" property="reportBody"/>
        <result column="reply_body" jdbcType="LONGVARCHAR" property="replyBody"/>
        <result column="report_phone" jdbcType="VARCHAR" property="reportPhone"/>
        <result column="report_type" jdbcType="INTEGER" property="reportType"/>
        <result column="report_time" jdbcType="TIMESTAMP" property="reportTime"/>
        <result column="report_address" jdbcType="VARCHAR" property="reportAddress"/>
        <result column="report_stat" jdbcType="INTEGER" property="reportStat"/>
        <result column="create_by" jdbcType="INTEGER" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_by" jdbcType="INTEGER" property="updateBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, report_code, report_tile, reporter, report_body, report_phone, report_type, report_time,
        report_address, report_stat, create_by, create_time, update_by, update_time,reply_body
    </sql>

    <!--auto generated by MybatisCodeHelper on 2021-03-12-->
    <select id="findAdminSystemReport"
            resultMap="BaseResultMap">
        select sys_report.id,
               sys_report.report_code,
               sys_report.report_tile,
               sys_report.reporter,
               sys_report.report_body,
               sys_report.report_phone,
               sys_report.report_type,
               sys_report.report_time,
               sys_report.report_address,
               sys_report.report_stat,
               sys_report.create_by,
               sys_report.create_time,
               sys_report.update_by,
               sys_report.update_time,
               sys_report.reply_body
        from sys_report
                     join sys_user u on u.id = sys_report.create_by
        ${ew.customSqlSegment}
    </select>
</mapper>