<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rotanava.boot.system.module.dao.SysTableConfigMapper">
  <resultMap id="BaseResultMap" type="com.rotanava.boot.system.api.module.system.bo.SysTableConfig">
    <!--@mbg.generated-->
    <!--@Table sys_table_config-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="table_name" jdbcType="VARCHAR" property="tableName" />
    <result column="table_code" jdbcType="VARCHAR" property="tableCode" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `table_name`, table_code, create_time
  </sql>
</mapper>