<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rotanava.boot.system.module.dao.SysTableCotalogMapper">
  <resultMap id="BaseResultMap" type="com.rotanava.boot.system.api.module.system.bo.SysTableCotalog">
    <!--@mbg.generated-->
    <!--@Table sys_table_cotalog-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="table_name" jdbcType="VARCHAR" property="tableName" />
    <result column="table_description" jdbcType="VARCHAR" property="tableDescription" />
    <result column="table_code" jdbcType="VARCHAR" property="tableCode" />
    <result column="table_link" jdbcType="VARCHAR" property="tableLink" />
    <result column="table_relationship" jdbcType="INTEGER" property="tableRelationship" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `table_name`, table_description, table_code, table_link, table_relationship, 
    create_by, create_time, update_by, update_time
  </sql>
</mapper>